body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;
}

div.frame{
	width: 800px;
	margin: 0 auto;
}

div.pop_container {
	display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

div.introduce {
	float: right;
	font-size: 15px;
}
div.introduce a {
	color: #26776F;
}

a:hover {
	color: #333;
}

div.pop_container div.pop_contents {
	font-size: 15px;
	padding: 20px 25px;
}

div.pop_container p {
	color: #666;
	line-height:15px;
}

div.pop_container div.close {
	width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
	text-align: right;
}

div.container{
	margin: 0;
	padding: 0;
  position: fixed;
	width:800px;
	height: 150px;
	top: 25%;
  left: 20%;
	margin-top: -100px;
	margin-left: -50px;
  background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
}

div.container ul {
	list-style: none;
	-webkit-padding-start: 20px;
	-webkit-margin-end: 20px;
}


div.container ul li {
	display: inline-block;
}

div.container div.title {
	font-size: 12px;
	margin-left: 12px;
}

div.container select {
	width: 80px;
	margin-left: 8px;
}

div.container span {
	font-size: 12px;
	margin-left: 2px;
}


div.container p a {
	font-size: 11px;
	color: #aaa;
	float: right;
	margin-top: -13px;
	margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

div.container p a:hover {
	color: #555;
}

div.container input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

input[type=number] {
	color: #777;
	padding-left: 10px;
	margin-left: 10px;
	border: 1px solid #c7d0d2;
}

input[type=submit] {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	width: 70px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

div.list{
	margin: 0;
	padding: 0;
    position: fixed;
    left: 20%;
	margin-top: 320px;
	margin-left: -50px;
    background: #fff;
}

div.list table.calculator_list {
	margin: 0;
	padding: 0;
    position: fixed;
	font-size:12px;
	left: 17%;
	border-width: 1px;
	border-color: #3A3A3A;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

div.list table.calculator_list th {
	margin: 0;
	padding: 0;
	padding: 6px;
	width: 120px;
	color: #66add6;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #acd6ef;;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
}

div.list table.calculator_list td {
	border-width: 1px;
	padding: 6px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #ffffff;
	border: 1px solid #ccc;
}
