<!doctype html>

<title>{% block title %}Welcome{% endblock %} | 로그인</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='lo.css') }}">

{% block body %}

    <div class="container">
        <form action="" method=post>
            <label for="userid">아이디:</label>
            <input type=text name=userid size=30 value="{{ request.form.userid }}">
            <label for="password">비밀번호:</label>
            <p><a herf=#>비밀번호를 잊어버렸나요?</a></p>
            <input type=password name=password size=30>
            <div class="lower">
                <input type="submit" value="로그인">
            </div>
        </form>

    </div>
{% endblock %}
