<title>{% block title %}sigh in{% endblock %} | lottoApple</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='lo2.css') }}">

{% block body %}

    <h2>Sign Up</h2>
    {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
	<div class=container>
		<form action="" method=post>
			<label>성명:</label>

			<input type=text name=username size=30 value="{{ request.form.username }}">

			<label>아이디:</label>

			<input type=text name=userid size=30 value="{{ request.form.userid }}">

			<label>Password:</label>

			<input type=password name=password size=30>

			<label>Password <small>(repeat)</small>:</label>

			<input type=password name=password2 size=30>

			<div class=lower><input type=submit value="Sign Up"></div>
		</form>
	</div>
	
{% endblock %}